{% extends "quotes/base.html" %}

{% block content %}

<form method="POST" action="{% url 'quotes:add_author' %}">
    {% csrf_token %}
    <div class="mb-3">
        <label class="form-label" for="fullname">Fullname</label>
        <input class="form-control" id="fullname" name="fullname" placeholder="Enter fullname" type="text">
    </div>
    <div class="mb-3">
        <label class="form-label" for="born_date">Born date</label>
        <input class="form-control" id="born_date" name="born_date" placeholder="Enter born date" type="text">
    </div>
    <div class="mb-3">
        <label class="form-label" for="born_location">Born location</label>
        <input class="form-control" id="born_location" name="born_location" placeholder="Enter born location" type="text">
    </div>
    <div class="mb-3">
        <label class="form-label" for="description">Description</label>
        <textarea class="form-control" id="description" name="description" placeholder="Enter description"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

    {% endblock %}