{% extends "quotes/base.html" %}
{% load extract %}
{% block content %}
<div class="row">
    <div class="col-md-8">
        {% for quote in quotes %}
        <div class="quote" itemscope="" itemtype="http://schema.org/CreativeWork">
            <span class="text" itemprop="text">
                {{quote.quote}}
            </span>
            <span>by <small class="author" itemprop="author">{{ quote.author.fullname }}</small>
                <a href="/author/{{quote.author.id}}">(about)</a>
            </span>
            <div class="tags">
                Tags:
                 {% for tag in quote.tags.all %}
                <a class="tag" href="/tag/{{tag}}">{{tag.name}}</a>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
        <nav>
            <ul class="pagination justify-content-center">
                {% if quotes.has_previous %}
                <li class="page-item"><a class="page-link" href="?page=1">&laquo;</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ quotes.previous_page_number }}">&lsaquo;</a>
                </li>
                {% else %}
                <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
                <li class="page-item disabled"><span class="page-link">&lsaquo;</span></li>
                {% endif %}

                {% for i in quotes.paginator.page_range %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                </li>
                {% endfor %}

                {% if quotes.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ quotes.next_page_number }}">&rsaquo;</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ quotes.paginator.num_pages }}">&raquo;</a>
                </li>
                {% else %}
                <li class="page-item disabled"><span class="page-link">&rsaquo;</span></li>
                <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
                {% endif %}
            </ul>
    </div>
        </nav>
    </div>
</div>
{% endblock %}